
@model IEnumerable<HRMS.Models.TravelApplicationReport_Result>
@{
    ViewBag.Title = "Index";
}

<h3>Travel Application Report</h3>
<br />
<div class="container-fluid">
    <center>
        @using (Html.BeginForm("Index", "TravelAppReport", FormMethod.Post, new { @class = "form-inline" }))
        {
        <table class="table table-bordered">
            <tr>
                <td>
                    <span>
                        @*<label>
                Department
            </label>*@
                        @Html.DropDownList("Designation", new SelectList(ViewBag.Designation, "Desg_Id", "Desg_Name"), "Select Designation", htmlAttributes: new { @class = "form-control" })
                    </span>
                </td>
                <td>
                    @*<span>&nbsp; &nbsp; &nbsp; &nbsp;</span>*@
                    <span>
                        @*<label>
                Work Location
            </label>*@
                        @Html.DropDownList("Grade", new SelectList(ViewBag.Grade, "Category_ID", "Grade_Name"), "Select Grade ", htmlAttributes: new { @class = "form-control" })
                    </span>
                </td>
                <td>
                    @*<span>&nbsp; &nbsp; &nbsp; &nbsp;</span>*@
                    <span>
                        <select name="status" class="form-control">
                            <option value="">Select Status</option>
                            <option value="0">Panding</option>
                            <option value="1">
                                Approve
                            </option>
                            <option value="3">
                                Cancel
                            </option>
                        </select>
                    </span>
                </td>
                <td>
                    <span>
                        <label>
                From 
            </label>
                        <input type="date" name="FromDate" class="form-control" />
                    </span>
                </td>
                @*<span>&nbsp; &nbsp; &nbsp; &nbsp;</span>*@
            <td>
                <span>
                    <label>
                To 
            </label>
                    <input type="date" name="ToDate" class="form-control" />

                </span>
            </td>
                @*<span>&nbsp; &nbsp; &nbsp; &nbsp;</span>*@
            <td>
                <span>
                    <button type="submit" class="btn btn-success">Submit</button>

                </span>
            </td>
            </tr>
        </table>
               }
    </center>
    @if (Model != null)
    {
        <table class="table table-bordered table-responsive table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.employeeCode)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TravelPurpose)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FromDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToDate)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.TravelPurpose)
                </th>


            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.employeeCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TravelPurpose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TravelPurpose)
                    </td>
                  
                </tr>

            }
        </table>
        <center>
            @*<button class="btn btn-primary">Download</button>*@
            @Html.ActionLink("Download", "Download", null, new { @class = "btn btn-success download" })
        </center>
    }

</div>
@if (ViewBag.EmployeeReportStatus != null)
{
    <div class="alert alert-success alert-dismissible " style="width:50%;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span>
            @ViewBag.EmployeeReportStatus
        </span>
    </div>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        $("/download").click(function () {
            $.get("/TravelAppReport/Download", function (data) {


            });
        });
    });
</script>

