@model IEnumerable<HRMS.Models.HRMS_TRAINING_MATERIALSET>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Material_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bud_Act)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaterialSet_Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaterialSet_Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaterialSet_Amt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HRMS_ProgramDetail.ProgramName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HRMS_TRAINING_MATERIAL_MS.Material_Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Material_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bud_Act)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialSet_Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialSet_Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialSet_Amt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HRMS_ProgramDetail.ProgramName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HRMS_TRAINING_MATERIAL_MS.Material_Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaterialSet_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaterialSet_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaterialSet_ID })
            </td>
        </tr>
    }

</table>
