@model IEnumerable<HRMS.Models.HRMS_ProgramDetail>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Completed Program List</h3>
    <br />
    <table class="table table-bordered table-striped table-responsive">
        <tr style="background-color:lightgray">

            <th>
                @Html.DisplayNameFor(model => model.ProgramName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingStatus)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgramName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingStatus)
                </td>

                 <td>
                        @Html.ActionLink("Chech Review", "ReviewList", new { id = item.ID }, new { @class = "btn btn-sm btn-primary" })

                    </td>
                
               
            </tr>
        }

    </table>
</body>
</html>
