@model HRMS.Models.HRMS_EMP_Attachment_Details

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/StyleSheet/UnitStyleSheet.css" rel="stylesheet" />
</head>

<h2>Index</h2>

@using (Html.BeginForm("Index", "EmployeeAttachmentDetail", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Employee Attachment Details</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.EMP_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EMP_ID, null, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EMP_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Attachment_Title, htmlAttributes: new { @class = "control-label col-md-2 required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Attachment_Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Attachment_Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Attachment_Type_ID, htmlAttributes: new { @class = "control-label col-md-2 required" })
        <div class="col-md-10">
            @Html.DropDownList("Attachment_Type_ID", null, "-Select--", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Attachment_Type_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Upload File</label>
        <div class="col-md-10">
            <input type="file" id="files" name="files" class="form-control" required="required"><br />
        </div> 
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Upload" class="btn btn-primary" />
        </div>
    </div>

    @if (ViewBag.IsExist != null)
    {
        <script>alert("@ViewBag.IsExist");</script>

    }


    @if (ViewBag.Success != null)
    {
        <script>alert("@ViewBag.Success");</script>

    }

    @if (ViewBag.Format != null)
    {
        <script>alert("@ViewBag.Format");</script>

    }
</div>
}
<br />
<h3><b>Uploaded File Details</b></h3>
<table class="table table-bordered table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Attachment_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in (IEnumerable<HRMS.Models.HRMS_EMP_Attachment_Details>)ViewData["users"])
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.SQLID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SQLID }) |*@


                <a href="~/EmployeeAttachmentDetail/Delete?filePath=@item.FILEURL&id=@item.ID"><img src="~/Images/delete.png" style="width: 20px; height: 20px" title="Delete" /></a> |
                <a href="~/EmployeeAttachmentDetail/DownloadFile?filePath=@item.FILEURL"><img src="~/Images/download.png" style="width: 20px; height: 20px" title="Download" /></a>
            </td>
        </tr>
    }

</table>
