@model IEnumerable<HRMS.Models.HRMS_EMP_PHOTO_SIGN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-responsive table-striped">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Emp_Photo_Title)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Emp_Photo_Path)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Emp_Sign_Title)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Emp_Sign_Path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accounts.ID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Emp_Photo_Title)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Emp_Photo_Path)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Emp_Sign_Title)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Emp_Sign_Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accounts.ID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Emp_Photos_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Emp_Photos_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Emp_Photos_ID })
            </td>
        </tr>
    }

</table>
