
@model IEnumerable<HRMS.Models.TravelApplicationExpanseReport_Result>
@{
    ViewBag.Title = "Index";
}

<h2>Travel Expanse Report</h2>
<div class="container-fluid">
    <center>
        @using (Html.BeginForm("Index", "TravelApplicationExpanseReport", FormMethod.Post, new { @class = "form-inline" }))
        {
            <span>
                <label>
                    Travel Purpose
                </label>
                @Html.DropDownList("Travel_Purpose", (SelectList)ViewBag.dataTravelPurpose, "select a purpose", htmlAttributes: new { @class = "form-control" })
            </span>
            <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
            <span>
                <label>
                    Work Location
                </label>
                @Html.DropDownList("Grade", new SelectList(ViewBag.Grade, "Category_ID", "Grade_Name"), "Select Grade ", htmlAttributes: new { @class = "form-control" })
            </span>
            <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
            <span>
                <label>
                    Department
                </label>
                @Html.DropDownList("Designation", new SelectList(ViewBag.Designation, "Desg_Id", "Desg_Name"), "Select Designation", htmlAttributes: new { @class = "form-control" })
            </span>
            <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
            <span>
                <label>
                    From Date
                </label>
                <input type="date" name="FromDate" class="form-control" />
            </span>
            <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
            <span>
                <label>
                    To Date
                </label>
                <input type="date" name="ToDate" class="form-control" />

            </span>
            <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
            <span>
                <button type="submit" class="btn btn-primary">Submit</button>

            </span>
        }
    </center>
    @if (Model != null)
    {
        <table class="table table-bordered table-responsive table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.employeeCode)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TravelPurpose)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FromDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToDate)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Designation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Grade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalExpanse)
                </th>

            </tr>

            @foreach (var item in Model)
            {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.employeeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelPurpose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalExpanse)
            </td>
            

        </tr>

            }
        </table>
        <center>
            @*<button class="btn btn-primary">Download</button>*@
            @Html.ActionLink("Download", "Download", null, new { @class = "btn btn-success download" })
        </center>
    }

</div>
@if (ViewBag.EmployeeReportStatus != null)
{
    <div class="alert alert-success alert-dismissible " style="width:50%;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span>
            @ViewBag.EmployeeReportStatus
        </span>
    </div>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        $("/download").click(function () {
            $.get("/TravelApplicationExpanseReport/Download", function (data) {


            });
        });
    });
</script>


