@model HRMS.Models.HRMS_EMP_ReferenceDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HRMS_EMP_ReferenceDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Is_Ref_Emp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Ref_Emp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Relationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relationship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pincode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pincode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City1.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City1.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country1.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country1.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HRMS_Emp_Details.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRMS_Emp_Details.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State1.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State1.StateName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
