@model IEnumerable<HRMS.Models.HRMS_EMP_CITIZENSHIP_MS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table  table-bordered table-responsive table-striped">
    <tr style="background-color:lightgray">
        <th>
            @Html.DisplayNameFor(model => model.CitizenShip_Country_NM)
        </th>
        <th><center><i class="glyphicon glyphicon-wrench"> </i> Operations</center></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CitizenShip_Country_NM)
            </td>

            <td>
                @Html.ActionLink(" Edit", "Edit", new { id = item.CitizenShip_ID }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-edit" }) 
                <button class="btn btn-danger" onclick="return removeFromList(this, '@item.CitizenShip_ID') "><i class="glyphicon glyphicon-trash"> </i> Delete</button>

            </td>
        </tr>
    }
</table>

<script>

    function removeFromList(thisobj,id) {
    var data = JSON.stringify({
        'id': id
        });
        $.ajax({
    type: "POST",
            contentType: "application/json",
            url: "@Url.Action("Delete","CitizenShip")",
            datatype: "json",
            data: data,
            success: function (response) {
            var tr = $(thisobj).closest("tr");
                    $(tr).remove();
        }
    });
}
</script>
