@model IEnumerable<HRMS.Models.HRMS_Travel_Application>

@{
    ViewBag.Title = "AdminExpenseList";
}

<h2>Expense List</h2>

<br />
<table class="table table-bordered table-striped table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Travel_Application_Date)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.From_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approved_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approval_Remark)
        </th>*@

        <th>
            @Html.DisplayNameFor(model => model.Accounts.UserName)
        </th>

        @*<th>
            @Html.DisplayNameFor(model => model.HRMS_CATEGORY_GRADE.Category_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HRMS_DESG_MS.Desg_Name)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.HRMS_Travel_Purpose.Name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.HRMS_Travel_type.Short_Name)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.HRMS_TravelMode_MS.Mode_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseSubmitted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Travel_Application_Date)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.From_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approved_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approval_Remark)
        </td>*@

    <td>
        @Html.DisplayFor(modelItem => item.Accounts.UserName)
    </td>

    @*<td>
            @Html.DisplayFor(modelItem => item.HRMS_CATEGORY_GRADE.Category_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HRMS_DESG_MS.Desg_Name)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.HRMS_Travel_Purpose.Name)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.HRMS_Travel_type.Short_Name)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.HRMS_TravelMode_MS.Mode_Type)
    </td>
    <td>
        @if (item.ExpenseSubmitted == 1)
        {
            <b class="label label-primary">pending</b>
        }
        @if (item.ExpenseSubmitted == 2)
        {
            <b class="label label-success">Approved</b>
        }
        @if (item.ExpenseSubmitted == 3)
        {
            <b class="label label-danger">cancelled</b>
        }
    </td>
    <td>
        @Html.ActionLink("View Request", "ViewExpense", new { id = item.ID }, new { @class = "btn btn-primary" })
    </td>
</tr>
}

</table>
