@model HRMS.Models.HRMS_Travel_Expense_App

@{
    ViewBag.Title = "Edit";
}

<head>
    <link href="~/StyleSheet/UnitStyleSheet.css" rel="stylesheet" />
</head>
<h2>Edit</h2>

<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>HRMS_Travel_Expense_App</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.EMP_ID)
        @Html.HiddenFor(model => model.Travel_App_ID)
        @Html.HiddenFor(model => model.Status)

        <div class="form-group">
            <div class="col-md-4  text-right">
                @Html.LabelFor(model => model.DateLimit, "Date Limit Exceed?", htmlAttributes: new { @class = "control-label " })

            </div>
            <div class="col-md-8 ">
                <div class="checkbox ">
                    @Html.EditorFor(model => model.DateLimit)
                    @Html.ValidationMessageFor(model => model.DateLimit, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Travel_Date, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Travel_Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.Travel_Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Journey_Mode, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Journey_Mode, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("Journey_Mode", new List<SelectListItem>
                   {
                       new SelectListItem{ Text="Auto", Value = "Auto" },
                       new SelectListItem{ Text="Bus", Value = "Bus" },
                       new SelectListItem{ Text="Texi", Value = "Texi" },
                    }, "--Select--", htmlAttributes: new { @class = "form-control " })
                @Html.ValidationMessageFor(model => model.Journey_Mode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.From_Place, htmlAttributes: new { @class = "control-label col-md-2 required " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.From_Place, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.From_Place, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.To_Place, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.To_Place, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.To_Place, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Distance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Distance, new { htmlAttributes = new { @class = "form-control", @id = "xyz" } })
                @Html.ValidationMessageFor(model => model.Distance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @id = "abc" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Purpose, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Purpose)
                @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FileName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FileUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FileUrl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FileUrl, "", new { @class = "text-danger" })
                </div>
            </div>*@





        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("<<Back", "AddExpense", new { id = Model.Travel_App_ID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: "yy-mm-dd",
            changeMonth: true,
            changeYear: true,
            yearRange: "1920:2020",
            orientation: "right top",
            maxDate: new Date()



        });

    });
</script>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script>
    $(document).ready(function () {
        $("#xyz").keyup(function () {
            $.get("/TravelExpenseApplication/CountAmount", { id: $("#xyz").val() }, function (data) {

                $('#abc').val(data);

            });
        });
    });
</script>



