@model IEnumerable<HRMS.Models.FillEmployee_Result>

@{
    ViewBag.Title = "FillData";
}

<h2>FillData</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table table-bordered table-responsive table-striped">
    <tr>
      
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Fill Detail", "Create","EmployeeDetail", new {item.ID }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
