@model IEnumerable<HRMS.Models.HRMS_TravelMode_MS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mode_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mode_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mode_Short_Name)
        </th>
        <th><center><i class="glyphicon glyphicon-wrench"> </i> Operations</center></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mode_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mode_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mode_Short_Name)
            </td>
           
            <td>
                <center>
                    @Html.ActionLink(" Edit", "Edit", new { id = item.Mode_ID }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-edit" }) |
                    @Html.ActionLink(" Details", "Details", new { id = item.Mode_ID }, new { @class = "btn btn-warning btn-sm glyphicon glyphicon-edit" }) |
                    <button class="btn btn-danger  btn-sm " onclick="return removeFromList(this, '@item.Mode_ID') "> <i class="glyphicon glyphicon-trash"> </i> Delete</button>
                </center>
            </td>

        </tr>
    }

</table>

<script>
    function removeFromList(thisobj,id) {
        var data = JSON.stringify({
            'id': id
        });
        $.ajax({
        type: "POST",
            contentType: "application/json",
            url: "@Url.Action("delete","TravelModelMaster")",
            datatype: "json",
            data: data,
            success: function (response) {
                    var tr = $(thisobj).closest("tr");
                    $(tr).remove();
            }
        });
    }
</script>