@model IEnumerable<HRMS.Models.BranchMaster>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })


    @Html.ActionLink("Edit Bank Name", "BankIndex", "BranchMaster", new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-striped table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BankMaster.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>


        <th><center><i class="glyphicon glyphicon-wrench" style="font-size:large"> </i> Operations</center></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.BankMaster.BankName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BranchName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Country)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.State)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.City)
    </td>
   

    <td><center>

    @Html.ActionLink(" Edit", "Edit", new { id = item.BranchCode }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-edit" })
    @Html.ActionLink(" Details", "Details", new { id = item.BranchCode }, new { @class = "btn btn-warning btn-sm glyphicon glyphicon-list-alt" })

    <button class="btn btn-danger  btn-sm " onclick="return removeFromList(this, '@item.BranchCode') "> <i class="glyphicon glyphicon-trash"> </i> Delete</button>
</center>
    </td>
</tr>
    }

</table>
<script>
    function removeFromList(thisobj, id) {
        if (confirm("Are you sure?") == true) {
            var data = JSON.stringify({
                'id': id
            });
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "@Url.Action("Delete","BranchMaster")",
                datatype: "json",
                data: data,
                success: function (response) {
                    var tr = $(thisobj).closest("tr");
                    $(tr).remove();
                }
            });
        }
    }
</script>