@model IEnumerable<HRMS.Models.HRMS_ProgramFaculty>

@{
    ViewBag.Title = "Index";
}


@if (Model.Count<HRMS.Models.HRMS_ProgramFaculty>() > 0 && Model != null)
{
    <h2>ProgramList</h2>

    <table class="table table-bordered table-responsive table-striped">
        <tr>
            <th>
                Program Code
            </th>
            <th>
                Program Name
            </th>
            <th><i class="glyphicon glyphicon-wrench"> </i> Operations</th>
        </tr>

        @foreach (var item in Model)
        {
    <tr id="@item.ProgramID">
        <td>
            @Html.DisplayFor(modelItem => item.ProgramID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HRMS_ProgramDetail.ProgramName)
        </td>
        <td>
            @Html.ActionLink(" Select", "EmployeeAttandance", new { id = item.ProgramID }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-edit" })
        
            @Html.ActionLink("View", "View", new { id = item.ProgramID }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-edit" })
        </td>
    </tr>
        }


    </table>
}
else
{
    <div class="container">
        <h2>you do not have any programs.</h2>
    </div>
}
