<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title H.R.M.S.</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/w3.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Effect.css" type="text/css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    

    @Scripts.Render("~/bundles/modernizr")
    @{ string color = string.Empty;
        HttpCookie httpCookie = Request.Cookies["Bgcolor"];
        if (httpCookie != null)
        {
            color = httpCookie["Color"].ToString();
        }
    }
</head>
<body>
    <div class="mobileDive">
        <div class="  @color" id="mobTogDiv"> H.R.M.S.<button class="w3-button" id="navbutton"> <i class="glyphicon glyphicon-align-justify"></i></button></div>
    </div>
    <div id="contant" class="w3-bar @color  w3-card-2">
        @Html.ActionLink("H.R.M.S", "", "", new { area = "" }, new { @class = "w3-bar-item w3-button w3-mobile mainhrms" })

        @if (User.IsInRole("admin"))
        {
            <div class="w3-dropdown-hover DixDiv">
                <button class="w3-button  @color">Master Pages <i class="glyphicon glyphicon-chevron-down"> </i></button>
                <div class="w3-dropdown-content w3-center w3-bar-block w3-card-4 DIVINSIDE">
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-euro"> </i>
                        @Html.ActionLink("Cost Center", "Index", "CostCenter", new { area = "" }, new { @class = " " })
                    </div>

                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-list-alt"> </i>
                        @Html.ActionLink("Category & Grades", "Index", "CategoryGrade", new { area = "" }, new { @class = " " })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-tint"> </i>
                        @Html.ActionLink("Department", "Index", "Department", new { area = "" }, new { @class = " " })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-gift"> </i>
                        @Html.ActionLink("Salutation", "Index", "SALUTATION", new { area = "" }, new { @class = " " })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-file"> </i>
                        @Html.ActionLink("Attachments", "Index", "Attachment", new { area = "" }, new { @class = " " })
                    </div>


                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-tint"> </i>
                        @Html.ActionLink("Cast", "Index", "CastMaster", new { area = "" }, new { @class = " " })
                    </div>   <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-leaf"> </i>
                        @Html.ActionLink("MaritalStatus", "Index", "MaritalMasters", new { area = "" }, new { @class = " " })
                    </div>   <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-briefcase"> </i>
                        @Html.ActionLink("PayMode", "Index", "PayRollMaster", new { area = "" }, new { @class = " " })
                    </div>   <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-knight"> </i>
                        @Html.ActionLink("Religion", "Index", "ReligionMaster", new { area = "" }, new { @class = " " })
                    </div>   <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-lamp"> </i>
                        @Html.ActionLink("Segment", "Index", "SegmentMaster", new { area = "" }, new { @class = " " })
                    </div>   <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-grain"> </i>
                        @Html.ActionLink("Unit", "Index", "UnitMaster", new { area = "" }, new { @class = " " })
                    </div>   <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-map-marker"> </i>
                        @Html.ActionLink("WorkLocation", "Index", "WorkLocationMaster", new { area = "" }, new { @class = " " })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-piggy-bank"> </i>
                        @Html.ActionLink("BankAndBranch", "Index", "BranchMaster", new { area = "" }, new { @class = " " })
                    </div>

                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-map-marker"> </i>
                        @Html.ActionLink("Division", "Index", "Division", new { area = "" }, new { @class = " " })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-map-marker"> </i>
                        @Html.ActionLink("CitizenShip", "Index", "CitizenShip", new { area = "" }, new { @class = " " })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-map-marker"> </i>
                        @Html.ActionLink("Designation", "Index", "Designation", new { area = "" }, new { @class = " " })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-map-marker"> </i>
                        @Html.ActionLink("Gender", "Index", "Gender", new { area = "" }, new { @class = " " })
                    </div>


                </div>
            </div>
        }
        @*------------------------------------second here---------------------------------------*@

        @if (User.IsInRole("admin"))
        {
            <div class="w3-dropdown-hover DixDiv">
                <button class="w3-button  @color">Transactions <i class="glyphicon glyphicon-chevron-down"> </i></button>
                <div class="w3-dropdown-content w3-center w3-bar-block w3-card-4 DIVINSIDE">
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-info-sign"> </i>
                        @Html.ActionLink("Employee Detail", "Index", "EmployeeDetail", new { area = "" }, new { @class = " " })
                    </div>

                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-tree-deciduous"> </i>
                        @Html.ActionLink("Personal Detail", "Index", "EmployeePersonalDetail", new { area = "" }, new { @class = " " })
                    </div>

                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-phone"> </i>
                        @Html.ActionLink("Contact Detail", "Index", "EmployeeContactDetails", new { area = "" }, new { @class = " " })
                    </div>


                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-pencil"> </i>
                        @Html.ActionLink("Reference Detail", "Index", "EmployeeReferenceDetail", new { area = "" }, new { @class = " " })
                    </div>

                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-file"> </i>
                        @Html.ActionLink("Attachment Detail", "Index", "EmployeeAttachmentDetail", new { area = "" }, new { @class = " " })
                    </div>

                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-euro"> </i>
                        @Html.ActionLink("Photo&Sign", "Index", "EmployeePhotoSign", new { area = "" }, new { @class = " " })
                    </div>

                </div>
            </div>
        }

        @*-----------------Third here--------------------*@

        @if (User.IsInRole("admin"))
        {
            <div class="w3-dropdown-hover DixDiv">
                <button class="w3-button  @color">Travel MS <i class="glyphicon glyphicon-chevron-down"> </i></button>
                <div class="w3-dropdown-content w3-center w3-bar-block w3-card-4 DIVINSIDE">
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-move"> </i>
                        @Html.ActionLink("Travel Mode", "Index", "TravelModeMaster", new { area = "" }, new { @class = " " })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-transfer"> </i>
                        @Html.ActionLink("Travel Type", "Index", "TravelType", new { area = "" }, new { @class = " " })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-grain"> </i>
                        @Html.ActionLink("Group Type", "Index", "TravelGroupType", new { area = "" }, new { @class = " " })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-ruble"> </i>
                        @Html.ActionLink("Meal Expense", "Index", "TravelMealExpense", new { area = "" }, new { @class = " " })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-circle-arrow-down"> </i>
                        @Html.ActionLink("Travel Purpose", "Index", "TravelPurpose", new { area = "" }, new { @class = " " })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-list"> </i>
                        @Html.ActionLink("Other", "Index", "TravelOtherDetails", new { area = "" }, new { @class = " " })
                    </div>
                </div>
            </div>
        }


        @*----------------------------Employee Transaction 2-----------------------------------------*@
        @if (User.IsInRole("emp"))
        {
            <div class="w3-dropdown-hover DixDiv">
                <button class="w3-button  @color">Transactions <i class="glyphicon glyphicon-chevron-down"> </i></button>
                <div class="w3-dropdown-content w3-center w3-bar-block w3-card-4 DIVINSIDE">
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-move"> </i>
                        @Html.ActionLink("Travel Application", "Index", "TravelApplication", new { area = "" }, new { @class = "" })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-adjust"> </i>
                        @Html.ActionLink("Travel Expense", "TravelList", "TravelExpenseApplication", new { area = "" }, new { @class = "" })
                    </div>

                </div>

            </div>

        }


        @*----------------------------Admin Transaction 2---------------------------------*@


        @if (User.IsInRole("admin"))
        {
            <div class="w3-dropdown-hover DixDiv">
                <button class="w3-button  @color">Transactions <i class="glyphicon glyphicon-chevron-down"> </i></button>
                <div class="w3-dropdown-content w3-center w3-bar-block w3-card-4 DIVINSIDE">
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-move"> </i>
                        @Html.ActionLink("Travel Application", "Index", "TravelApplication", new { area = "" }, new { @class = "", @id = "TravelCount" })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-adjust"> </i>
                        @Html.ActionLink("Travel Expense", "AdminExpenseList", "TravelExpenseApplication", new { area = "" }, new { @class = "" })
                    </div>

                </div>

            </div>

        }

        @*-----------------Admin MAster 3 --------------------*@

        @if (User.IsInRole("admin"))
        {
            <div class="w3-dropdown-hover DixDiv">
                <button class="w3-button  @color">Traning MS <i class="glyphicon glyphicon-chevron-down"> </i></button>
                <div class="w3-dropdown-content w3-center w3-bar-block w3-card-4 DIVINSIDE">
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-move"> </i>
                        @Html.ActionLink("Faculty", "Index", "FacultyMaster", new { area = "" }, new { @class = " " })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-transfer"> </i>
                        @Html.ActionLink("Skill", "Index", "TrainingSkillMaster", new { area = "" }, new { @class = " " })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-grain"> </i>
                        @Html.ActionLink("Material", "Index", "TraningMaterialMaster", new { area = "" }, new { @class = " " })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-grain"> </i>
                        @Html.ActionLink("Evaluation", "Index", "TrainingEvaluation", new { area = "" }, new { @class = " " })
                    </div>

                </div>
            </div>
        }




        @*-----------------------------Admin Configuration-------------------------*@

        @if (User.IsInRole("admin"))
        {
            <div class="w3-dropdown-hover DixDiv">
                <button class="w3-button  @color">Configuration <i class="glyphicon glyphicon-chevron-down"> </i></button>
                <div class="w3-dropdown-content w3-center w3-bar-block w3-card-4 DIVINSIDE">
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-move"> </i>
                        @Html.ActionLink("Travel Mode", "Create", "TravelModeConfiguration", new { area = "" }, new { @class = "" })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-adjust"> </i>
                        @Html.ActionLink("Travel Mileage", "Create", "TravelMileageConfiguration", new { area = "" }, new { @class = "" })
                    </div>

                </div>

            </div>

        }



        @*---------------------------Admin SSRS Report--------------------------------------*@

        @if (User.IsInRole("admin"))
        {
            <div class="w3-dropdown-hover DixDiv">
                <button class="w3-button  @color">SSRS <i class="glyphicon glyphicon-chevron-down"> </i></button>
                <div class="w3-dropdown-content w3-center w3-bar-block w3-card-4 DIVINSIDE">
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-move"> </i>
                        @Html.ActionLink("Employee Report", "Index", "EmpReport", new { area = "" }, new { @class = "" })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-transfer"> </i>
                        @Html.ActionLink("Travel Application Report", "TravelReporttt", "EmpReport", new { area = "" }, new { @class = "" })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-file"> </i>
                        @Html.ActionLink("Travel Expanse Report", "TravelExpanseReporttt", "EmpReport", new { area = "" }, new { @class = "" })
                    </div>

                </div>

            </div>

        }

        @*---------------------------------Normal Report----------------------------------------------------------*@

        @if (User.IsInRole("admin"))
        {
            <div class="w3-dropdown-hover DixDiv">
                <button class="w3-button  @color">Reports <i class="glyphicon glyphicon-chevron-down"> </i></button>
                <div class="w3-dropdown-content w3-center w3-bar-block w3-card-4 DIVINSIDE">
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-move"> </i>
                        @Html.ActionLink("Employee Report", "Index", "EmployeeReport", new { area = "" }, new { @class = "" })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-transfer"> </i>
                        @Html.ActionLink("Travel Application Report", "Index", "TravelAppReport", new { area = "" }, new { @class = "" })
                    </div>
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-file"> </i>
                        @Html.ActionLink("Travel Expanse Report", "Index", "TravelApplicationExpanseReport", new { area = "" }, new { @class = "" })
                    </div>

                </div>

            </div>

        }




        @*--------------------------Admin Account-----------------------------*@
        @if (User.IsInRole("admin"))
        {
            @Html.ActionLink("Account", "Index", "EmployeeRegistration", new { area = "" }, new { @class = "w3-bar-item w3-button w3-mobile" })
        }


        @*---------------------------Add Employee--------------------------------*@


        @*@if (User.IsInRole("emp"))
        {
            @Html.ActionLink("Travel Application", "Index", "TravelApplication", new { area = "" }, new { @class = "w3-bar-item w3-button w3-mobile" })
            @Html.ActionLink("Travel Expense", "TravelList", "TravelExpenseApplication", new { area = "" }, new { @class = "w3-bar-item w3-button w3-mobile" })
        }
        @if (User.IsInRole("admin"))
        {
            @Html.ActionLink("Travel Application(0)", "Index", "TravelApplication", new { area = "" }, new { @class = "w3-bar-item w3-button w3-mobile", @id = "TravelCount" })
            @Html.ActionLink("Travel Expense", "AdminExpenseList", "TravelExpenseApplication", new { area = "" }, new { @class = "w3-bar-item w3-button w3-mobile" })
        }
        @if (User.IsInRole("admin"))
        {
            @Html.ActionLink("Employee Report", "Index", "EmployeeReport", new { area = "" }, new { @class = "w3-bar-item w3-button w3-mobile" })
        }*@


        @*---------------------------fourth here----------------------------*@

        @if (User.IsInRole("emp"))
        {
            <div class="w3-dropdown-hover DixDiv">
                <button class="w3-button  @color">Transactions <i class="glyphicon glyphicon-chevron-down"> </i></button>
                <div class="w3-dropdown-content w3-center w3-bar-block w3-card-4 DIVINSIDE">
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-info-sign"> </i>
                        @Html.ActionLink("Employee Detail", "Details", "EmployeeDetail", new { area = "" }, new { @class = " " })
                    </div>

                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-tree-deciduous"> </i>
                        @Html.ActionLink("Personal Detail", "Details", "EmployeePersonalDetail", new { area = "" }, new { @class = " " })
                    </div>

                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-phone"> </i>
                        @Html.ActionLink("Contact Detail", "Details", "EmployeeContactDetails", new { area = "" }, new { @class = " " })
                    </div>


                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-pencil"> </i>
                        @Html.ActionLink("Reference Detail", "Details", "EmployeeReferenceDetail", new { area = "" }, new { @class = " " })
                    </div>

                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-file"> </i>
                        @Html.ActionLink("Attachment Detail", "Index", "EmployeeAttachmentDetail", new { area = "" }, new { @class = " " })
                    </div>

                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-euro"> </i>
                        @Html.ActionLink("Photo&Sign", "Details", "EmployeePhotoSign", new { area = "" }, new { @class = " " })
                    </div>

                </div>
            </div>
        }
                                                                @*for mid man*@
        @if (User.IsInRole("midman"))
        {
            <div class="w3-dropdown-hover DixDiv">
                <button class="w3-button  @color">Transactions <i class="glyphicon glyphicon-chevron-down"> </i></button>
                <div class="w3-dropdown-content w3-center w3-bar-block w3-card-4 DIVINSIDE">
                    <div class="w3-bar-item w3-button w3-mobile">
                        <i class="glyphicon glyphicon-info-sign"> </i>
                        @Html.ActionLink("Travel Request Application", "Create", "RequestApplication", new { area = "" }, new { @class = " " })
                    </div>



                </div>
            </div>
        }

        <div class="w3-right RightSIde">
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink(User.Identity.Name, "", "", new { area = "" }, new { @class = "w3-bar-item w3-button w3-mobile" })
                <i>&emsp;</i>
                @Html.ActionLink(" ", "Logout", "Account", new { area = "" }, new { @class = "w3-bar-item w3-button w3-mobile glyphicon glyphicon-log-out" })
            }
            <div class="w3-dropdown-hover DixDiv">
                <button class="w3-button  @color"><i class="glyphicon glyphicon-cog"></i> <i class="glyphicon glyphicon-chevron-down"> </i></button>
                <div style="" id="colorDiv" class="w3-dropdown-content w3-bar-block w3-center  w3-card-4 ">
                    <button onclick="return changeColor('w3-indigo')" class="w3-indigo w3-bar-item w3-button w3-mobile">
                        Indigo
                    </button>
                    <button onclick="return changeColor('w3-pale-red')" class="w3-pale-red w3-bar-item w3-button w3-mobile">
                        pale red
                    </button> <button onclick="return changeColor('w3-purple')" class="w3-purple w3-bar-item w3-button w3-mobile">
                        purple
                    </button> <button onclick="return changeColor('w3-light-green')" class="w3-light-green w3-bar-item w3-button w3-mobile">
                        light-green
                    </button>
                    <button onclick="return changeColor('w3-pink')" class="w3-pink w3-bar-item w3-button w3-mobile">
                        pink
                    </button>
                    <button onclick="return changeColor('w3-blue-gray')" class="w3-blue-gray w3-bar-item w3-button w3-mobile">
                        blue gray
                    </button>
                    <button onclick="return changeColor('w3-red')" class="w3-red w3-bar-item w3-button w3-mobile">
                        Red
                    </button> <button onclick="return changeColor('w3-yellow')" class="w3-yellow w3-bar-item w3-button w3-mobile">
                        yellow
                    </button>
                    <button onclick="return changeColor('w3-blue')" class="w3-blue w3-bar-item w3-button w3-mobile">
                        blue
                    </button>
                    <button onclick="return changeColor('w3-sand')" class="w3-sand w3-bar-item w3-button w3-mobile">
                        Sand
                    </button>

                </div>
            </div>
        </div>
        <script src="~/Scripts/jquery-3.4.1.js"></script>
        <script>
 function changeColor(color) {
        var data = JSON.stringify({
            'color': color
        });
        $.ajax({
    type: "POST",
            contentType: "application/json",
            url: "@Url.Action("ChangeTheme","Account")",
            datatype: "json",
            data: data,
            success: function (response) {
                location.reload(true);
        }
    });
    }
   $(document).ready(function(){
       $("#navbutton").click(function () {
           $("#contant").slideToggle();
       });
       UpdateTravelCount();

   });
      function UpdateTravelCount() {
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: '@Url.Action("getTravelCount","TravelApplication")',
                dataType: "json",
                data: '{}',
                success: function (res) {
                    $("#TravelCount").text("Travel Application(" + res + ")");
                }
            });

            return false;
        }
        </script>


    </div>
    <div class=" body-content container">
        @RenderBody()
        <hr />
        <footer>
            <center>
                <p>&copy; @DateTime.Now.Year - H.R.M.S. - HUMAN RESOURCE MANAGEMENT SYSTEM</p>
            </center>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
