@model IEnumerable<HRMS.Models.HRMS_TrainingReview>

@{
    ViewBag.Title = "View";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vieww</title>
</head>
<body>
    <h2>Review</h2>
    <hr />
    @if (User.IsInRole("emp"))
    {
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
    else
    { <p>
            @Html.ActionLink("Back to List", "ReviewList", new { id = ViewBag.ProgramID })
        </p>
    }

    <table class="table table-bordered table-responsive table-striped">
        <tr style="background-color:lightgray">
            <th>Category</th>
            <th>
                @Html.DisplayNameFor(model => model.HRMS_Evalution_Question.Question)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HRMS_Evalution_Question.HRMS_TrainingEvalution_Header.Header)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HRMS_Evalution_Question.Question)
                    <input type="hidden" value="@item.OtherComments" id="A" />

                    <input type="hidden" value="@item.IsWorthy.ToString()" id="C" />
                </td>
                @if (item.NonDescriptive != null)
                {
                    if (item.NonDescriptive == 1)
                    {
                        <td><text><i>Very Bad</i></text></td>
                    }
                    else if (item.NonDescriptive == 2)
                    {
                        <td><text><i>Bad</i></text></td>
                    }
                    else if (item.NonDescriptive == 3)
                    {
                        <td><text><i>Good</i></text></td>
                    }
                    else if (item.NonDescriptive == 4)
                    {
                        <td><text><i>Very Good</i></text></td>
                    }
                    else
                    {
                        <td><text><i>Excellent</i></text></td>
                    }

                }
                else
                {
                    <td>
                        <i> <textarea disabled="disabled">@item.Descriptive</textarea></i>
                    </td>

                }

            </tr>
        }

    </table>
    <div class="form-horizontal">
        <div class="form-group">

            <div class="col-md-3"> <text><i>Any Other Comments?</i></text></div>
            <div class="col-md-9"> <textarea disabled="disabled" id="AA"></textarea></div>
        </div>
        <div class="form-group">
            <div class="col-md-3">  <text><i>Do you think this will beneficial for other?</i></text></div>
            <div class="col-md-9">   <input type="checkbox" id="CC" disabled="disabled" /></div>

        </div>
    </div>


    @*<div class="form-group">
            <table class="table small" ">
                <tr>
                    <td><text>Any Other Comments?</text></td>
                    <td> <textarea disabled="disabled" id="AA"></textarea></td>

                </tr>
                <tr>
                    <td><text>Do you think this will beneficial for other?</text></td>
                    <td><input type="checkbox" id="CC" disabled="disabled" /></td>

                </tr>
                <tr></tr>
            </table>
        </div>*@

</body>
</html>
<script>
    $(document).ready(function () {
        var data = $("#A").val();
        $("#AA").val(data);

        if ($("#C").val() != null) {
            $("#CC").prop("checked", true);
        }
        else {
            $("#CC").prop("checked", false);
        }
    });
</script>