@model IEnumerable<HRMS.Models.HRMS_TRAINING_MATERIAL_MS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Material_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material_Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material_Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material_IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Material_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material_Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material_Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material_IsActive)
            </td>
            <td class="btn-group-sm">
                @Html.ActionLink(" Edit", "Edit", new { id = item.Material_ID }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-edit" })
                @Html.ActionLink(" Details", "Details", new { id = item.Material_ID }, new { @class = "btn btn-warning btn-sm glyphicon glyphicon-list-alt" })

                <button class="btn btn-danger  btn-sm " onclick="return removeFromList(this, '@item.Material_ID') "> <i class="glyphicon glyphicon-trash"> </i> Delete</button>
            </td>
        </tr>
    }

</table>
<script>
    function removeFromList(thisobj, id) {
        if (confirm("Are you sure?") == true) {
            var data = JSON.stringify({
                'id': id
            });
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "@Url.Action("Delete","TraningMaterialMaster")",
                datatype: "json",
                data: data,
                success: function (response) {
                    var tr = $(thisobj).closest("tr");
                    $(tr).remove();

                }
            });
        }
    }
</script>