@model HRMS.Models.HRMS_Contact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HRMS_Contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Phone_Work)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_Work)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile_No_Work)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile_No_Work)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Corporate_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Corporate_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone_Home)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_Home)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile_no_home)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile_no_home)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personal_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personal_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Office_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Office_Email)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.HRMS_Emp_Details.Display_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRMS_Emp_Details.Display_Name)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
