@model IEnumerable<HRMS.Models.HRMS_TRAINING_SKILLSET>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HRMS_ProgramDetail.ProgramName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.HRMS_TRAINING_SKILL_MS.Skill_Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HRMS_ProgramDetail.ProgramName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HRMS_TRAINING_SKILL_MS.Skill_Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SkillSet_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SkillSet_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SkillSet_ID })
            </td>
        </tr>
    }

</table>
