@model IEnumerable<HRMS.Models.HRMS_ProgramDetail>

@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Programs</h2>
<br />

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table table-bordered table-striped table-responsive">
    <tr style="background-color:lightgray">

        <th>
            @Html.DisplayNameFor(model => model.ProgramName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToDate)
        </th>

        <th>Skill</th>
        <th>Material</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    @if (item.TrainingStatus != "Cancel")
    {
        <td>
            @Html.DisplayFor(modelItem => item.ProgramName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToDate)
        </td>

        <td>
            @*@if (item.TrainingStatus != null)*@
            @if (item.TrainingStatus == null && item.TrainingStatus != "Completed" && item.TrainingStatus != "Cancel")
            {
            if (item.Skill == false)
            {

            @Html.ActionLink("ADD SKILLS", "Create", new { id = item.ID }, new { @class = "btn btn-primary" })


            }
            else
            {
       
            @Html.ActionLink("Edit SKILLS", "Create", new { id = item.ID }, new { @class = "btn btn-warning" })

       
        }
        }
        else
        {

        if (item.TrainingStatus != null && item.TrainingStatus == "Completed")
        {
        
            @Html.ActionLink("View SKILLS", "Create", new { id = item.ID }, new { @class = "btn btn-success" })

        
        }



        }
            </td>
        <td>

        @*//from Material*@
        @if (item.TrainingStatus == null && item.TrainingStatus != "Completed" && item.TrainingStatus != "Cancel")
        {
        if (item.Material == false)
        {
        
            @Html.ActionLink("ADD Material", "Create", "TrainingMaterialTransaction", new { id = item.ID }, new { @class = "btn btn-primary" })

        
        }
        else
        {
        
            @Html.ActionLink("Edit Material", "Create", "TrainingMaterialTransaction", new { id = item.ID }, new { @class = "btn btn-warning" })

        
        }
        }
        else
        {

        if (item.TrainingStatus != null && item.TrainingStatus == "Completed")
        {
        
            @Html.ActionLink("View Material", "Create", "TrainingMaterialTransaction", new { id = item.ID }, new { @class = "btn btn-success" })

        
        }



        }
        </td>
    }
</tr>
    }

</table>
